body{
    font-family: Arial, sans-serif;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    height: auto;
}
header{
    font-size: 40px;
    width: 100%;
    background-color:#111;
}
.buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.buttons a {
    display: inline-block;
    padding: 15px 25px;
    background: darkslategray;
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    transition: 0.3s;
}
.buttons a:hover {
      background: darkslategray;
      color: rgb(141, 8, 35);
}
main{
    background: linear-gradient(crimson, antiquewhite);
    height: 550px;
}
footer {
width: 100%;
background: #111;
text-align: center;
margin: 0;
}